body {
    /* Remove the scroll bounce. It's annoying */
    overscroll-behavior: none;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Create a fixed header, just cuz its cooler */
.navbar-cont {
  width: 100%;
  height: auto;
  position: fixed;
  top: 0px;
  z-index: 1;
  box-shadow: 0 5px 20px -10px black;
}

/* Remove horizontal scrolling space */
.row {
  width: 100%;
  height: auto;
}

/* Spark gallery css. Need to have the top be offset, so we can see it */
.spark-gallery {
  height: 100%;
  height: auto;
  padding-top: 20vh;
  padding-bottom: 10vh;
}

/* Close button for sign in popup */
.close {
  cursor: pointer;
}

/* Login popup css */
.signin-cont{
  padding: 5vh;
}

/* Text css */
.subheader {
  font-weight: 200;
  font-size: 60px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: rgb(87, 82, 136);
}

.description {
  color: rgb(102, 107, 184);
  font-weight: 100;
  font-size: 25px;
}

Label {
  color: rgb(60, 61, 75);
  font-weight: 200;
  font-size: 18px;
}

/* Submit button css */
#submit-button {
  background-color: rgb(240, 240, 255);
  transition: all 250ms ease-in;
}

#submit-button:hover {
  background-color: #feffac;
}

#submit-button:active {
  background-color: #ffcf66;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn-outline-primary {
  color: #8DCAFF;
  background-color: #00396A;
  border: 1px solid #8DCAFF;
  border-radius: 10px;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: #DEF0FF;
  background-color: #D88100;
  border: 1px solid #D88100;
  border-radius: 10px;
}

.btn-outline-secondary {
  color: #8DCAFF;
  background-color: #00396A;
  border: 3px solid #8DCAFF;
  border-radius: 10px;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  color: #DEF0FF;
  background-color: #D88100;
  border: 3px solid #D88100;
  border-radius: 10px;
}

.btn-lg {
  padding: 5px 22px;
  font-size: 22px;
}

.btn-primary {
  color: #B1B1B1;
  background-color: #BCFBFF;
  border-radius: 5px;
  border: 0px;
  width: 278.4px;
  height: 178.11px;
  font-size : 30px
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  color: #55463E;
  background-color: #FFD4BC;
  border-radius: 5px;
}

.btn-xl {
  text-align: left;
}

.top-buffer {
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.navbar-custom {
  background-color: #00396A;
}

input[type="text"],
input[type="text"]:focus,
select.form-control,
select.form-control:focus {
  background: transparent;
  border: none;
  border-bottom: 1px solid #8DCAFF;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}